<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <h2><%= @recipe.name %></h2>
      
      <div class="d-flex justify-content-md-end">
        <%= render 'customer/favorite_recipes/favorite_recipes', recipe: @recipe, favorite_recipe: @favorite_recipe %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div><%= attachment_image_tag @recipe, :image, :fill, 200, 150, format: 'jpeg' %></div>
    <div class="col-md-5 offset-md-1">
      <h5>レシピ紹介</h5>
      <table class="table table-inverse">
        <tr>
          <th><%= @recipe.introduction %></th>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <h5>材料</h5>
      <table class="table table-hover table-inverse">
        <% @ingredients.each do |ingredient| %>
          <tr>
            <th><%= ingredient.name %></th>
            <th><%= ingredient.amount %><%= ingredient.unit %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h5>作り方</h5>
      <div class="d-flex align-content-around flex-wrap">
        <% i = 0 %>
        <% @recipe_details.each do |recipe_detail| %>
          <div><%= i+=1 %></div>
          <div class="card" style="width: 14rem;">
            <%= attachment_image_tag recipe_detail, :image, :fill, 200, 150, format: 'jpeg' %>
            <div class="card-body">
              <p class="card-text"><%= recipe_detail.explanation %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <table class="table">
        <thread>
          <tr>
            <th class="d-flex justify-content-center">
              <h5>レシピレビュー</h5>
            </th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td>
              <%= render 'customer/recipe_comments/recipe_comments', recipe: @recipe, recipe_comments: @recipe_comments %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="row mt-5 d-flex justify-content-center">
        <%= form_with model: @new_recipe_comment, url: recipe_recipe_comments_path(@recipe), method: :post, remote:true do |f| %>
          <div id="evaluate_stars">
            <label>評価</label>
          </div>
          <%= f.text_area :comment, placeholder: "コメントを書く", class:"target form-control" %>
          <div class="actions mt-3 d-flex justify-content-center">
            <%= f.submit "コメントを投稿する", class:"btn btn-outline-info" %>
          </div>
        <% end %>
        <script>
          $('#evaluate_stars').raty({
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'recipe_comment[evaluation]'
          });
        </script>
      </div>
    </div>
  </div>
</div>

