<div class="container">
  <div class="row mt-5">
    <h2>レシピ詳細登録</h2>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <%= form_with model: [:producer, @recipe], local:true do |f| %>
              <table  class="table table-borderless">
                <tbody>
                  <tr>
                    <td>レシピ画像</td>
                    <td>
                      <%= f.attachment_field :image, class:"form-control-file" %>
                    </td>
                  </tr>
                  <tr>
                    <td>レシピ名</td>
                    <td>
                      <%= @recipe.name %>
                    </td>
                  </tr>
                  <tr>
                    <td>レシピ紹介</td>
                    <td>
                      <%= f.text_area :introduction, placeholder: "ここに紹介文を記述します", class:"form-control" %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <%= f.submit 'レシピ登録', class: "btn btn-success"  %>  
              </div>
            <% end %>
          </div>
            
          <div class="col-md-6">
            <%= render 'ingredients', ingredients: @ingredients, ingredient: @ingredient, recipe: @recipe %>
          </div>
        </div>
              
        <div class="col-md-4">
          <%= render 'recipe_details', recipe_details: @recipe_details, recipe_detail: @recipe_detail, recipe: @recipe %>
        </div>
                  
    </div>
  </div>
</div>

