<div id="recipe_comment-<%= recipe.id %>">
  <% recipe.recipe_comments.each do |recipe_comment| %>
    <div><%= recipe_comment.customer.nickname %>:</div>
    <div class="movie-evaluation" data-score="<%= recipe_comment.evaluation %>"></div>
    <div><%= recipe_comment.comment %></div>
    <div class="d-flex justify-content-end" %>
        <% if recipe_comment.customer == current_customer %>
            <%= link_to "削除する", recipe_recipe_comment_path(recipe, recipe_comment), class: "btn btn-sm btn-outline-danger", method: :delete, remote: true %>
        <% end %>
    </div>
  <% end %>
  <script>
    $('.movie-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
      }
    });
  </script>
</div>