<!DOCTYPE html>
<html>
  <head>
    <title>SanchoCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= asset_path "skippr", type: :stylesheet %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/skippr.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <% if request.path == '/' %>
      <%= render 'layouts/top_header' %>
    <% else %>
      <%= render 'layouts/else_header' %>
    <% end %>
    <%= yield %>
    
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
